@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.logoText {
     font-family: 'Commissioner', sans-serif;
     font-family: 'Comfortaa', cursive;
     font-weight: 900;
}

.flex {
     display: flex;
     justify-content: center;
     align-items: center;
}

.categoryContainer, .overlay {
     top: 82px;
     left: 0;
     height: calc(100vh - 80px) !important;
     position: fixed !important;
}

.overlay {
     width: 100%;
}

.sideCategory {
     background: white;
}

.sideCategory li>a>p {
     border-bottom: 2px solid rgb(238, 238, 238);
     padding: 15px 25px;
     cursor: pointer;
     transition: all 200ms ease-in-out;
}

.sideCategory li>a>p:hover {
     background-color: #e53e3e;
     border-bottom: 2px solid #e53e3e;
     color: white;
     scale: 1.05;
}


.activeLink>p {
     background-color: #e53e3e;
     border-bottom: 2px solid #e53e3e !important;
     color: white;
     scale: 1.05;
}

#loginMenu {
     transition: all 200ms;
}


.loginMenuList {
     height: 0px;
     opacity: 0;
     visibility: hidden;
     transition: all 200ms;
}

#loginMenu:hover .loginMenuList {
     opacity: 1;
     visibility: visible;
     height: max-content;
}


@media only screen and (width<=768) {
     #LinkMenu {
          display: none !important;
     }
}