.card {
     transition: all 600ms;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card:hover {
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image, .card-image-holder {
     transition: all 600ms;
}

.card:hover .card-image-holder {
     scale: 1.2;
}

.card:hover .card-image {
     /* rotate: 360deg; */
     /* scaleX: -1.08; */
     transform: scaleX(-1);
}