@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h2 {
     font-size: 2rem !important;
}

.loginContainer {
     z-index: 99;
     display: flex;
     width: 100%;
     align-items: center;
     flex-direction: column;
     height: calc(100vh - 81px);
}

.form {
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}

.contact-form * {
     font-family: 'Roboto Mono', monospace;
}


.gobackBtn {
     padding: 5px;
     border-radius: 5px;
     transition: all 400ms;
     color: black !important;
     animation: 2s slow-mo linear;
     border: 2px solid transparent;
     background: transparent !important;
     animation: slow 1s linear infinite alternate-reverse both;
     animation-play-state: running;
}

@keyframes slow {
     from {
          left: 20px;
     }

     to {
          left: 30px;
     }
}

.gobackBtn:hover {
     color: black !important;
     border-radius: 5px;
     background: transparent;
     border: 2px solid yellow;
     box-shadow: 0 0 2px rgb(212, 212, 0);
     animation-play-state: paused;
}