@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


:root {
     --gold-color: #ffe100;
}

.admin-upperPart {
     background-image: linear-gradient(to right bottom, #343434, #4d3b56, #793969, #ac2967, #da0050, #e6003f, #ef0029, #f40a06, #ec100a, #e3140d, #db1710, #d31a12);
     background-image: linear-gradient(to right bottom, #343434, #543958, #8c2c62, #c20049, #e10808);
}


.goback {
     padding: 5px;
     border: 2px solid transparent;
     border-radius: 5px;
     transition: all 400ms;
     background: transparent !important;
     animation: 2s slow-mo linear;
     animation: slow 1s linear infinite alternate-reverse both;
     animation-play-state: running;
}

@keyframes slow {
     from {
          left: 20px;
     }

     to {
          left: 30px;
     }
}

.goback:hover {
     border-radius: 5px;
     background: transparent;
     border: 2px solid yellow;
     box-shadow: 0 0 2px rgb(212, 212, 0);
     animation-play-state: paused;
}

.admin-welcome-text {
     font-family: 'Courgette', cursive;
}


.admin-name {
     margin: 15px 0;
     font-size: 2em;
     color: yellow;
     font-weight: 800;
     letter-spacing: 2px;
     font-family: 'La Belle Aurore', cursive;
}

.admin-image-container {
     cursor: pointer;
     margin: auto;
}

.admin-image-container:hover .admin-edit-icon {
     opacity: 1;
     visibility: visible;
     background: rgba(84, 84, 84, 0.477);
}

.admin-edit-icon {
     top: 50%;
     left: 50%;
     opacity: 0;
     width: 100%;
     height: 100%;
     display: flex;
     visibility: hidden;
     border-radius: 50%;
     position: absolute;
     align-items: center;
     transition: all 600ms;
     justify-content: center;
     transform: translate(-50%, -50%);
}

.admin-edit-icon label {
     color: rgb(0, 0, 0);
     font-size: 2em;
     cursor: pointer;
     margin: auto !important;
     max-width: fit-content;
}

/* Side bar List */
.admin-sidebar {
     padding-right: 2px;
     border-right: 2px solid rgb(226, 226, 226);
}


.admin-sidebarList {
     width: 100%;
     display: flex;
     flex-direction: column;
}

.admin-sidebarList li {
     cursor: pointer;
     padding: 20px 20px;
     transition: all 300ms;
     border-bottom: 2px solid rgba(224, 224, 224, 0.712);
}

.admin-sidebarList li:hover {
     background: var(--gold-color);
     scale: 1.03;
}

.admin-active-link {
     background: var(--gold-color);
     scale: 1.05;
}

.admin-sidebarList li>div {
     display: flex;
     align-items: center;
}

.admin-sidebarList li>div>img {
     width: 25px;
     height: 25px;
}

.admin-sidebarList li>div>p {
     margin-left: 15px;
     font-weight: 600;
     font-size: 1.3em;
}



/* Admin dashboard */

.admin-statistics {
     padding: 20px 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
}

.admin-userImage {
     filter: invert(100);
}

.admin-statistics>div {
     width: 270px;
     height: 100px;
     padding: 20px;
     color: white;
     cursor: pointer;
     display: flex;
     align-items: center;
     border-radius: 15px;
     transition: all 500ms;
     background: #343434;
     justify-content: center;
     justify-content: space-between;
}

.admin-statistics>div:hover {
     scale: 1.04;
}

.admin-statistics>div>div:last-child {
     display: flex;
     width: 40px;
     height: 40px;
}

/* table */
table * {
     white-space: nowrap;
}

th {
     padding: 25px 20px !important;
     color: white !important;
     font-weight: 600 !important;
     font-size: 16px !important;
}

tbody>tr>td {
     padding: 25px 20px !important;
}

tbody>tr {
     cursor: pointer;
     font-weight: 600;
     border-color: 1px solid gray !important;
}

tbody>tr:hover {
     background: rgb(240, 240, 240);
}

/* view details */
.admin-detail-container {
     top: 50%;
     left: 50%;
     z-index: 10;
     padding: 20px;
     color: white;
     border-radius: 10px;
     background: #343434;
     max-height: max-content;
     transform: translate(-50%, -50%);
}

.admin-detail * {
     font-weight: 600;
}

.admin-detail>div:first-child {
     display: flex;
     justify-content: center;
     align-items: center;
}

.admin-detail>div:not(:first-child) {
     display: flex;
     justify-content: space-between;
}

.admin-detail>div>p:first-child {
     width: 40%;
}

.admin-detail>div>p:last-child {
     width: 70%;
}